# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# prisma
/prisma/migrations/dev.db*

# env
.env
.env*.local

# local embedded postgres data
/.pgdata

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
